<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.medicalapp.donorua">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DonorUA">

        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="ocr" />

        <activity
            android:name=".ui.main.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.splash.SplashActivity"
            android:launchMode="singleTask"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.registration.FirstOpenActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.infodetails.InfoDetailsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.addcheck.capture.CaptureReceiptActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ui.addcheck.analyzer.ImageAnalyzerActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ui.info.InfoActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ui.search.SearchActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ui.center.CenterActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.addcheck.addinfo.AddCheckActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
    </application>
</manifest>